<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jkoss.dao.zx.SchoolMapper" >
  <resultMap id="BaseResultMap" type="com.jkoss.pojo.zx.School" >
    <id column="schoolID" property="schoolID" jdbcType="INTEGER" />
    <result column="eid" property="eid" jdbcType="INTEGER" />
    <result column="schoolsf" property="schoolsf" jdbcType="VARCHAR" />
    <result column="skcity" property="skcity" jdbcType="VARCHAR" />
    <result column="skname" property="skname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    schoolID, eid, schoolsf, skcity, skname
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jkoss.pojo.zx.SchoolExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_school
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_school
    where schoolID = #{schoolID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_school
    where schoolID = #{schoolID,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jkoss.pojo.zx.SchoolExample" >
    delete from t_school
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jkoss.pojo.zx.School" >
    insert into t_school (schoolID, eid, schoolsf, 
      skcity, skname)
    values (#{schoolID,jdbcType=INTEGER}, #{eid,jdbcType=INTEGER}, #{schoolsf,jdbcType=VARCHAR}, 
      #{skcity,jdbcType=VARCHAR}, #{skname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jkoss.pojo.zx.School" >
    insert into t_school
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="schoolID != null" >
        schoolID,
      </if>
      <if test="eid != null" >
        eid,
      </if>
      <if test="schoolsf != null" >
        schoolsf,
      </if>
      <if test="skcity != null" >
        skcity,
      </if>
      <if test="skname != null" >
        skname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="schoolID != null" >
        #{schoolID,jdbcType=INTEGER},
      </if>
      <if test="eid != null" >
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="schoolsf != null" >
        #{schoolsf,jdbcType=VARCHAR},
      </if>
      <if test="skcity != null" >
        #{skcity,jdbcType=VARCHAR},
      </if>
      <if test="skname != null" >
        #{skname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jkoss.pojo.zx.SchoolExample" resultType="java.lang.Integer" >
    select count(*) from t_school
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_school
    <set >
      <if test="record.schoolID != null" >
        schoolID = #{record.schoolID,jdbcType=INTEGER},
      </if>
      <if test="record.eid != null" >
        eid = #{record.eid,jdbcType=INTEGER},
      </if>
      <if test="record.schoolsf != null" >
        schoolsf = #{record.schoolsf,jdbcType=VARCHAR},
      </if>
      <if test="record.skcity != null" >
        skcity = #{record.skcity,jdbcType=VARCHAR},
      </if>
      <if test="record.skname != null" >
        skname = #{record.skname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_school
    set schoolID = #{record.schoolID,jdbcType=INTEGER},
      eid = #{record.eid,jdbcType=INTEGER},
      schoolsf = #{record.schoolsf,jdbcType=VARCHAR},
      skcity = #{record.skcity,jdbcType=VARCHAR},
      skname = #{record.skname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jkoss.pojo.zx.School" >
    update t_school
    <set >
      <if test="eid != null" >
        eid = #{eid,jdbcType=INTEGER},
      </if>
      <if test="schoolsf != null" >
        schoolsf = #{schoolsf,jdbcType=VARCHAR},
      </if>
      <if test="skcity != null" >
        skcity = #{skcity,jdbcType=VARCHAR},
      </if>
      <if test="skname != null" >
        skname = #{skname,jdbcType=VARCHAR},
      </if>
    </set>
    where schoolID = #{schoolID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jkoss.pojo.zx.School" >
    update t_school
    set eid = #{eid,jdbcType=INTEGER},
      schoolsf = #{schoolsf,jdbcType=VARCHAR},
      skcity = #{skcity,jdbcType=VARCHAR},
      skname = #{skname,jdbcType=VARCHAR}
    where schoolID = #{schoolID,jdbcType=INTEGER}
  </update>
</mapper>