<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jkoss.dao.stu.EvaluateMapper" >
  <resultMap id="BaseResultMap" type="com.jkoss.pojo.stu.Evaluate" >
    <id column="evid" property="evid" jdbcType="INTEGER" />
    <result column="eid" property="eid" jdbcType="INTEGER" />
    <result column="ossstuid" property="ossstuid" jdbcType="INTEGER" />
    <result column="evdate" property="evdate" jdbcType="TIMESTAMP" />
    <result column="evcontent" property="evcontent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    evid, eid, ossstuid, evdate, evcontent
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jkoss.pojo.stu.EvaluateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_evaluate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_evaluate
    where evid = #{evid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_evaluate
    where evid = #{evid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jkoss.pojo.stu.EvaluateExample" >
    delete from t_evaluate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jkoss.pojo.stu.Evaluate" >
    insert into t_evaluate (evid, eid, ossstuid, 
      evdate, evcontent)
    values (#{evid,jdbcType=INTEGER}, #{eid,jdbcType=INTEGER}, #{ossstuid,jdbcType=INTEGER}, 
      #{evdate,jdbcType=TIMESTAMP}, #{evcontent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jkoss.pojo.stu.Evaluate" >
    insert into t_evaluate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="evid != null" >
        evid,
      </if>
      <if test="eid != null" >
        eid,
      </if>
      <if test="ossstuid != null" >
        ossstuid,
      </if>
      <if test="evdate != null" >
        evdate,
      </if>
      <if test="evcontent != null" >
        evcontent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="evid != null" >
        #{evid,jdbcType=INTEGER},
      </if>
      <if test="eid != null" >
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="ossstuid != null" >
        #{ossstuid,jdbcType=INTEGER},
      </if>
      <if test="evdate != null" >
        #{evdate,jdbcType=TIMESTAMP},
      </if>
      <if test="evcontent != null" >
        #{evcontent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jkoss.pojo.stu.EvaluateExample" resultType="java.lang.Integer" >
    select count(*) from t_evaluate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_evaluate
    <set >
      <if test="record.evid != null" >
        evid = #{record.evid,jdbcType=INTEGER},
      </if>
      <if test="record.eid != null" >
        eid = #{record.eid,jdbcType=INTEGER},
      </if>
      <if test="record.ossstuid != null" >
        ossstuid = #{record.ossstuid,jdbcType=INTEGER},
      </if>
      <if test="record.evdate != null" >
        evdate = #{record.evdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.evcontent != null" >
        evcontent = #{record.evcontent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_evaluate
    set evid = #{record.evid,jdbcType=INTEGER},
      eid = #{record.eid,jdbcType=INTEGER},
      ossstuid = #{record.ossstuid,jdbcType=INTEGER},
      evdate = #{record.evdate,jdbcType=TIMESTAMP},
      evcontent = #{record.evcontent,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jkoss.pojo.stu.Evaluate" >
    update t_evaluate
    <set >
      <if test="eid != null" >
        eid = #{eid,jdbcType=INTEGER},
      </if>
      <if test="ossstuid != null" >
        ossstuid = #{ossstuid,jdbcType=INTEGER},
      </if>
      <if test="evdate != null" >
        evdate = #{evdate,jdbcType=TIMESTAMP},
      </if>
      <if test="evcontent != null" >
        evcontent = #{evcontent,jdbcType=VARCHAR},
      </if>
    </set>
    where evid = #{evid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jkoss.pojo.stu.Evaluate" >
    update t_evaluate
    set eid = #{eid,jdbcType=INTEGER},
      ossstuid = #{ossstuid,jdbcType=INTEGER},
      evdate = #{evdate,jdbcType=TIMESTAMP},
      evcontent = #{evcontent,jdbcType=VARCHAR}
    where evid = #{evid,jdbcType=INTEGER}
  </update>
</mapper>