<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jkoss.dao.stu.HkrecodeMapper" >
  <resultMap id="BaseResultMap" type="com.jkoss.pojo.stu.Hkrecode" >
    <id column="hkid2" property="hkid2" jdbcType="INTEGER" />
    <result column="clzid" property="clzid" jdbcType="INTEGER" />
    <result column="hktitle2" property="hktitle2" jdbcType="VARCHAR" />
    <result column="hkdodate" property="hkdodate" jdbcType="TIMESTAMP" />
    <result column="hkdescb2" property="hkdescb2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    hkid2, clzid, hktitle2, hkdodate, hkdescb2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jkoss.pojo.stu.HkrecodeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_hkrecode
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_hkrecode
    where hkid2 = #{hkid2,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_hkrecode
    where hkid2 = #{hkid2,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jkoss.pojo.stu.HkrecodeExample" >
    delete from t_hkrecode
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jkoss.pojo.stu.Hkrecode" >
    insert into t_hkrecode (hkid2, clzid, hktitle2, 
      hkdodate, hkdescb2)
    values (#{hkid2,jdbcType=INTEGER}, #{clzid,jdbcType=INTEGER}, #{hktitle2,jdbcType=VARCHAR}, 
      #{hkdodate,jdbcType=TIMESTAMP}, #{hkdescb2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jkoss.pojo.stu.Hkrecode" >
    insert into t_hkrecode
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hkid2 != null" >
        hkid2,
      </if>
      <if test="clzid != null" >
        clzid,
      </if>
      <if test="hktitle2 != null" >
        hktitle2,
      </if>
      <if test="hkdodate != null" >
        hkdodate,
      </if>
      <if test="hkdescb2 != null" >
        hkdescb2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hkid2 != null" >
        #{hkid2,jdbcType=INTEGER},
      </if>
      <if test="clzid != null" >
        #{clzid,jdbcType=INTEGER},
      </if>
      <if test="hktitle2 != null" >
        #{hktitle2,jdbcType=VARCHAR},
      </if>
      <if test="hkdodate != null" >
        #{hkdodate,jdbcType=TIMESTAMP},
      </if>
      <if test="hkdescb2 != null" >
        #{hkdescb2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jkoss.pojo.stu.HkrecodeExample" resultType="java.lang.Integer" >
    select count(*) from t_hkrecode
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_hkrecode
    <set >
      <if test="record.hkid2 != null" >
        hkid2 = #{record.hkid2,jdbcType=INTEGER},
      </if>
      <if test="record.clzid != null" >
        clzid = #{record.clzid,jdbcType=INTEGER},
      </if>
      <if test="record.hktitle2 != null" >
        hktitle2 = #{record.hktitle2,jdbcType=VARCHAR},
      </if>
      <if test="record.hkdodate != null" >
        hkdodate = #{record.hkdodate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.hkdescb2 != null" >
        hkdescb2 = #{record.hkdescb2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_hkrecode
    set hkid2 = #{record.hkid2,jdbcType=INTEGER},
      clzid = #{record.clzid,jdbcType=INTEGER},
      hktitle2 = #{record.hktitle2,jdbcType=VARCHAR},
      hkdodate = #{record.hkdodate,jdbcType=TIMESTAMP},
      hkdescb2 = #{record.hkdescb2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jkoss.pojo.stu.Hkrecode" >
    update t_hkrecode
    <set >
      <if test="clzid != null" >
        clzid = #{clzid,jdbcType=INTEGER},
      </if>
      <if test="hktitle2 != null" >
        hktitle2 = #{hktitle2,jdbcType=VARCHAR},
      </if>
      <if test="hkdodate != null" >
        hkdodate = #{hkdodate,jdbcType=TIMESTAMP},
      </if>
      <if test="hkdescb2 != null" >
        hkdescb2 = #{hkdescb2,jdbcType=VARCHAR},
      </if>
    </set>
    where hkid2 = #{hkid2,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jkoss.pojo.stu.Hkrecode" >
    update t_hkrecode
    set clzid = #{clzid,jdbcType=INTEGER},
      hktitle2 = #{hktitle2,jdbcType=VARCHAR},
      hkdodate = #{hkdodate,jdbcType=TIMESTAMP},
      hkdescb2 = #{hkdescb2,jdbcType=VARCHAR}
    where hkid2 = #{hkid2,jdbcType=INTEGER}
  </update>
</mapper>